.Rproj.user
.Rhistory
.RData
(7th Edition) Robert V. Hogg, Joeseph McKean, Allen T Craig-Introduction to Mathematical Statistics-Pearson (2012).pdf
Robert V. Hogg, Joseph W. McKean, Allen T. Craig-Solution Manual to Introduction to Mathematical Statistics 6th Edition.pdf
